# Default ignored files
.idea
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\HP\Desktop\Fifthwh\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
